<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logName" value="${environment:LOCALAPPDATA}/Alteridem/Logs/GitHubExtension" />
  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${level} ${logger} [${threadid}] ${message} ${onexception:EXCEPTION OCCURRED\:${exception:innerFormat=ShortType,Message,StackTrace:maxInnerExceptionLevel=4:format=ShortType,Message,StackTrace}}"
            fileName="${logName}.txt"
            archiveFileName="${logName}.{#####}.txt"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"/>

    <!-- The Following target logs to any computer that is running Log2Console
       Change the ipaddress for the RemoteAddress parameter to a valid computer name or ip address.
       Use ipaddress 127.0.0.2 to log to the same computer.-->
    <target name="log2console" xsi:type="NLogViewer"
            address="udp4://127.0.0.2:7071"
            includeMdc="false"
            includeNLogData="true" />

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="log2console" />
  </rules>
</nlog>